<%- include('../partials/header') %>

<ul>
    <% skills.forEach(function(s) { %>
        <li>
            <form action="/skills/<%= s.id %>?_method=DELETE" method="POST" class="delete-form">
                <button type="submit">Del</button>
            </form>
            <a href="/skills/<%= s.id %>"><%= s.skill %></a>
            -
            <%= s.status ? 'Understood: Yes' : 'Understood: No' %>
        </li>
    <% }); %>
</ul>
<a href="/skills/new">Add a skill</a>
    
    
<%- include('../partials/footer') %>